@font-face{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./Fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./Fonts/open-sans-v34-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* open-sans-700 - latin */
  @font-face{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./Fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./Fonts/open-sans-v34-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body{
    font-family: 'Open Sans';
}

.container{
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

button{
    color: #FFFFFF;
    background-color: #00bafc;
    text-transform: inherit;
    border: 0px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px 24px 12px 24px;
    margin-left: 24px;
    align-items: center; 
    text-align: center;
}

button:hover{
    background: #00bafccc;
}

button:active{
    background: #00bafc99;
}
 
 /* 1-bo`lim */
.container_box1{
    height: 56px;
    width: 100%;
    max-width: 1300px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px #0000001a;
    position: sticky;
    top: 0px;
    z-index: 1; 
    margin-left: auto;
    margin-right: auto;
}

.logo:hover{
    color: #191919;
}

.logo:active{
    color: #191919;
}

.navbar{
    display: flex;  
    justify-content: space-between;
    align-items: center;    
}

ul li{
    list-style: none;
}

.nav-list{
    display: flex;
    align-items: center; 
}

.item-list{
    padding-top: 16px;
    align-items: center;
    height: 56px; 
    padding-left: 16px;
    padding-right: 16px;
}

.item-list:hover{
    border-bottom:  3px solid #000000;   
}

.item-list:active{
    background-color: rgba(25, 25, 25, 0.7);
      
}
.item-list a:active{
    color: #FFFFFF;
}

a{
    color: #000;
    font-size: 15px;  
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    text-transform: capitalize;
}

.telefon{
    color: #FFFFFF;
    background-color: #00bafc;
    border: 0px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px 24px 12px 24px;
    align-items: center;   
}

.telefon:hover{
    border: 3px solid #00bafc;
    background-color: transparent;
    color: #00bafc;
}

.telefon:active{
    background-color: rgba(0, 186, 252, 0.6);
    border: 0px;
    color: #FFFFFF;
}

/* 2-bo`lim */
.container_box2{
    height: 418px;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

main{
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
}

.left{
    align-items: center;
}

.left h1{
    height: 78px;
    width: 100%;
    max-width: 470px;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 17px;
}

.left p{
    height: 74px;
    width: 100%;
    max-width: 465px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 24px;
}

/* 3-bo`lim */
#container_box3{
    height: 879px;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 56px;
    text-align: center;
}

.content h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
}

.content p{
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: 16px 190px 0px 190px;
}

.top{
    display: flex;
    justify-content: space-between;
}

.bottom{
    display: flex;
    margin-left: 197px;
    margin-right: 197px;
    margin-top: 48px;
    margin-bottom: 40pt;
    gap: 70px;
}

.box{
    height: 260px;
    width: 320px; 
    border-radius: 5px;
    padding: 24px;
    box-shadow: 0px 8px 8px #0000001a;
    text-align: center;
    margin-top: 24px;   
}

.box:hover{
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.box:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.button a{
    color: #00bafc;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 16px;
}

.container_box4{
    height: 1675px;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 56px;
    text-align: center;
}

.content h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
}

.hor_box1{
    margin-top: 24px;
}

.hor_box:not(:first-child){
    margin-top: 48px;
}

.hor_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;  
}

.text h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;   
}

.text p{
    max-width: 493px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left; 
    margin-top: 8px;
}

.container_box5{
    background-color: #00bafc;
    height: 543px;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 56px;
    text-align: center;
}

form{
    height: 304px;
    width: 348px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    text-align: center;
}

#name{
    height: 56px;
    width: 300px;
    border-radius: 5px;
    padding: 16px;   
}

#tel{
    height: 56px;
    width: 300px;
    border-radius: 5px;
    padding: 16px;
    margin-top: 16px;
}

#xiz{
    height: 56px;
    width: 300px;
    border-radius: 5px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.container_box6{
    background-color: #000000;
    height: 338px;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 56px;
}

.main6{
    display: flex;
    gap: 100px;
}

.main6 h1{
    height: 26px;
    max-width: 149px; 
    color: #FFFFFF;  
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    
}
.main6 p{
    height: 120px;
    max-width: 320px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 16px;   
}

.list_foot:not(first-child){
    margin-bottom: 8px;
}

.list_foot{
    margin-top: 16px;
}
.foot_link{
    height: 24px;
    max-width: 65px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;    
    align-items: center;
    margin-top: 16px;
}

.foot_link:hover{
    color: #00BAFC;
}

.foot_link:active{
    color: #00BAFC;
    opacity: 0.6    ;
}